<!DOCTYPE html>
<HTML lang = ro>
<head>
    <title>Evidenta rezultatelor concursurilor sportive</title>
    <meta charset="UTF-8">
    <meta name = "Author" content = "Narcis Necula">

</head>
<body>
<p>
    <h1>Evidenta rezltatelor concursurilor sportive (Descriere proiect):</h1>

        <br><br>Proiectul meu va avea o prima pagina de pornire cu informatii generale despe continutul si rolul site-ului impreuna cu date de contact si cele ncesare pentru informarea cu privinta la serviciile oferite de acest site.
	<br><br>Va exista in dreapta sus un link carte un formular de inregistrare respective logare. Aici vom avea doua tipuri de conturi: admin si customer.
	<br><br>Aplicatia mea va permite utilizatorilor(customer)  sa isi aleaga din sporturile disponibile(Baschetball- va avea liga NBA cat si FIBA, Rugby-NFL, Hockey-NHL, Baseball-MBL) si vor putea sa vada statistici cu privire la meciuri (poate si stiri cu privire la aceste echipe), Fiecare din aceste sporturi va avea propria lui pagina, iar un utilizator(customer) poate intra sa se intereseze despre sportul respectiv.
	<br><br><h2>Admin-ul :</h2>Va putea sa gestioneze baza de date, dar nu sa modifice structura site-ului propriu zis, lucrul acesta ii va fi permis doar creatorului.
	<br><br><h2>Sporturile:</h2> Fiecare din ele va avea o sectiune cu stiri preluate de pe pagini oficiale;  sectiune cu meciurile dintr-o data introdusa; Top Players; Lista cu trofeele fiecari echipe;
	<br><br><h2>Inregistrarea</h2> se va face cerand un email, un username, o data de nastere(care va trebui sa fie valida); Iar inregistrarea odata facuta se va face confirmarea prin intermediul unui  email la adresa introdusa.
	<br><br>Se va folosi un Captcha pentru roboti(preluat de pe internet nu facut personal);
    <br><br><h2>Pagina principala</h2> va contine pe langa elemente de design realizate prin css si html si linnkuri catre pagiile secundare precum:Cate o pagina pentru fiecare sport in parte, o pagina pentu contact si linkuri de referinta.
    <br><br>Va mai exista o pagina personalizata fiecarui client in care se vor salva articolele bifate pentru acest lucru.(Conceptional suna bine, sper sa am abilitatile sa si realizez asta).
    
</p>


</body>


<footer>
    <div><style background-color = teal height = 20%></style></div>
</footer>
    
</HTML> 