<!DOCTYPE html>
<html lang = ro>
<head>
    <title>Evidenta rezultatelor concursurilor sportive</title>
    <meta charset="UTF-8">
    <meta name = "Author" content = "Narcis Necula">
    <meta name = "description" content ="Evidenta rezultatelor competitiilor sportive">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	
    <link rel="stylesheet" type="text/css" href="../../resurse/css/index.css"/>
</head>
<body>
    
<!------------------------------------------------------------------------------>
    <header>
        <div class = "item_1"><img  class="logo" src = "../../resurse/imagini/logo.jpg" alt = "Baschetball-ist-logo"></div>
    </div>
    </header>
<!------------------------------------------------------------------------------>


     <main>
        <div class = "container_">
            <img  class="diagrama" src = "../../resurse/imagini/diagrama_php.png" alt = "Diagrama">
        </div>
     </main>

<!------------------------------------------------------------------------------>
<footer>
    <div class="footer_">
        <p id = "text_footer">Date de Contact: </br> Telefon: </br> Email: </br></p>
    </div>
</footer>
<!------------------------------------------------------------------------------>
</body>
</html> 