<!DOCTYPE html>
<html lang = ro>
<head>
    <title>Evidenta rezultatelor concursurilor sportive</title>
    <meta charset="UTF-8">
    <meta name = "Author" content = "Narcis Necula">
    <meta name = "description" content ="Evidenta rezultatelor competitiilor sportive">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	
    <link rel="stylesheet" type="text/css" href="../../resurse/css/index.css"/>
</head>
<body>
    
<!------------------------------------------------------------------------------>
    <header>
        <div class = "item_1"><img  class="logo" src = "../../resurse/imagini/logo.jpg" alt = "Baschetball-ist-logo">
            <a><button class = "btn">Home Page</button></a>
        </div>
    </div>
    </header>
<!------------------------------------------------------------------------------>


     <main>
        <div class = "container_">
            <div id = "formular">
                <a href = "pagina_de_logare.html"><button class="btn">Log in</button></a>
                
                <a href = "pagina_de_inregistrare.html"><button class="btn">Sign up</button></a>
            </div>
            <div id = "descriere">
            </br></br> </br>
                <a class = "tema1" href = "descriere_proiect_tema1.html">Tema 1</a>
            </br></br> </br>
                <a class = "diagrama" href = "diagrama.html">Diagrama</a>

                </br></br> </br>
                <p>Aici o sa zic cu ce se ocupa mai exact site-ul pt ca asta e pagina principala deschisa publicului larg fara cont</p>

            </div>

     
    
        </div>
     </main>

<!------------------------------------------------------------------------------>
<footer>
    <div class="footer_">
        <p id = "text_footer">Date de Contact: </br> Telefon: </br> Email: </br></p>
    </div>
</footer>
<!------------------------------------------------------------------------------>
</body>
</html> 