   
*{
    margin:0px;
    padding:0px;
    text-indent:0px;
}
footer{
    padding:1%;
}
header{
    padding:1%;
}

.footer_{
    display: block;
    border-radius: 20px;
    background-color:rgba(36, 151, 151, 0.582);
}

p#text_footer{
    padding-left:40px;
    padding-top:25px;
    padding-bottom:25px;
}

.item_1{
    display: block;
    padding: 1%;
    background-color:rgba(36, 151, 151, 0.534);
    border-radius:20px;
}

.logo{
    width:20%;
    border-radius: 5px;
}

.container_{
    display: block;
    padding: 1%;
    background-color:rgba(128, 128, 128, 0.575);
    border-radius:20px;
    
    
}
body{
    padding:1%;
    background-image: url("../imagini/fundal.png");
    display: grid;
    grid-template-rows: 15% 70% 15%;
}

main{
    padding: 1%;
    border-radius:20px;
}

.btn{
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        background-color:rgba(36, 151, 151, 0.685);
}
